{{#extends 'base'}}

{{#block "content"}}
<h1>Login</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary mt-3" value="Log in"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
</form>
{{/block}}

{{/extends}}