{{#extends 'base'}}

{{#block "content"}}
<h1>Sign up for a new account</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Sign up" class="btn btn-primary mt-3">
</form>
{{/block}}

{{/extends}}