{{#extends "base"}}

{{#block "content"}}
<h1>Updating product {{product.name}}</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary mt-3"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
</form>
{{/block}}

{{/extends}}